# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# some autotools files I don't care about right now
INSTALL
AUTHORS
ChangeLog
COPYING
README
NEWS


aclocal.m4
autom4te.cache
build-aux
Makefile.in

